<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is a Ruby on Rails project ralating to Julian Fischer's lecture "Ruby on Rails" at HTW-Saar.<br>
  Besides the lecture, the following sides helped by implementing it:
  <br>
  <a href="http://www.railstutorial.org/book">Railstutorial</a><br>
  <a href="http://rubyonrails.org/">Ruby on Rails</a><br>
  <a href=http://guides.rubyonrails.org/>Railsguides</a><br>
  <a href=http://apidock.com/>Apidock</a><br>
  
  
  
</p>