<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Review!</h1>
    <p>
      A new Review was added to your movie <%= @movie.title %><br>
    </p>
    <p>See it here: </p>
    
    <p>This is a generated mail, please do not reply!</p>
  </body>
</html>