<footer class="footer">
  <small>
    The MovieBlog by <a href="https://github.com/loste42">loste42</a></li>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contacts_path %></li>
      <li><a href="http://www.imdb.com/news/">News</a></li>
    </ul>
  </nav>
</footer>